@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

#menu_general {
    margin-top: 1%;
    margin-right:1% ;
}
#menu_lateral {
    background-color: rgba(100, 118, 135, 0.2);
    margin-right: 1%;
}

#banner{
    /*background-color: #261C15;*/
    background-color: #00203F;
    padding: 2%;
    /*color: #ADEFD1FF;*/
    color: white;
   /* font-family: 'Shrikhand', cursive;*/
   font-family: 'Lobster', cursive;

    font-size: 3em;
}

#menu_font {
    font-family: 'Hind', sans-serif;
}